<div class="signup-container">
  <div class="signup-form">
    <div class="form-content">
      <img src="assets/images/MyFinance.png" alt="MyFinance" class="logo">
      <h1>Create your account</h1>

      <form (ngSubmit)="onSignUp()">
        <div class="form-group">
          <input type="text"
                 placeholder="Full Name"
                 [(ngModel)]="fullName"
                 name="fullName"
                 required>
        </div>

        <div class="form-group">
          <input type="email"
                 placeholder="Email"
                 [(ngModel)]="email"
                 name="email"
                 required>
        </div>

        <div class="form-group">
          <input type="text"
                 placeholder="Username"
                 [(ngModel)]="username"
                 name="username"
                 required>
        </div>

        <div class="form-group password-input">
          <input [type]="showPassword ? 'text' : 'password'"
                 placeholder="Password"
                 [(ngModel)]="password"
                 name="password"
                 required>
          <button type="button"
                  class="toggle-password"
                  (click)="togglePasswordVisibility()">
            <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
          </button>
        </div>

        <div class="form-group password-input">
          <input [type]="showConfirmPassword ? 'text' : 'password'"
                 placeholder="Confirm Password"
                 [(ngModel)]="confirmPassword"
                 name="confirmPassword"
                 required>
          <button type="button"
                  class="toggle-password"
                  (click)="toggleConfirmPasswordVisibility()">
            <i class="fas" [class.fa-eye]="!showConfirmPassword" [class.fa-eye-slash]="showConfirmPassword"></i>
          </button>
        </div>

        <button type="submit" class="sign-up-button">Create Account</button>

        <div class="form-links">
          <div class="register-links">
            <p>Already have an account?</p>
            <a [routerLink]="['/login1']">Sign in to your account</a>
          </div>
        </div>
      </form>

      <div class="form-footer">
        <div class="links">
          <a href="#">Terms of use</a>
          <span class="separator">|</span>
          <a href="#">Security</a>
          <span class="separator">|</span>
          <a href="#">Privacy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="signup-image"></div>
</div>
