<div class="change-password-container">
  <div class="login-image"></div>
  <div class="login-form">
    <div class="form-content">
      <img src="assets/images/MyFinance.png" alt="MyFinance" class="logo">
      <h1>Changement de mot de passe</h1>

      <form (ngSubmit)="changePassword()">
        <!-- Adresse e-mail -->
        <div class="form-group">
          <input
            id="email"
            type="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="Entrez votre adresse e-mail"
          />
        </div>



        <!-- Nouveau mot de passe -->
        <div class="form-group">
          <input
            id="newPassword"
            type="password"
            [(ngModel)]="newPassword"
            name="newPassword"
            required
            placeholder="Entrez un nouveau mot de passe"
          />
        </div>

        <!-- Confirmer le mot de passe -->
        <div class="form-group">
          <input
            id="confirmPassword"
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            placeholder="Confirmez votre nouveau mot de passe"
          />
        </div>

        <!-- Message d'erreur -->
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
        </div>

        <!-- Bouton de soumission -->
        <button type="submit" class="sign-in-button">Changer le mot de passe</button>

        <!-- Lien retour à la page de connexion -->
        <div class="form-links">
          <a [routerLink]="['/login1']">Retour à la connexion</a>
        </div>
      </form>
    </div>
  </div>
</div>
