<div class="sidebar" >
  <div class="test">
  <div class="logo"></div>
  <a href="#" class="item"><i class="fas fa-tachometer-alt icon"></i> Dashboard</a>
    <a href="#" class="item">
      <i class="fas fa-credit-card icon"></i> Bank Card
    </a>
  <a href="#" class="item"><i class="fas fa-bell icon"></i> Notifications</a>
  <a href="#" class="item"><i class="fas fa-users icon"></i> Team</a>
  <a href="#" class="item"><i class="fas fa-chart-bar icon"></i> Analytics</a>
  <a href="#" class="item"><i class="fas fa-bookmark icon"></i> Bookmarks</a>
  <a href="#" class="item"><i class="fas fa-cog icon"></i> Settings</a>
  <a href="#" class="item"><i class="fas fa-user icon"></i> Profile</a>
  <a href="#" class="item"><i class="fas fa-sign-out-alt icon"></i> Logout</a>
  </div>
</div>
